@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
:root {
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --sans-serif: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--sans-serif);
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: var(--sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--gray-dark);
  text-align: left;
  font-size: 16px;
  background-color: var(--light);
}

#app {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}

#chartNetwork {
  width: 100%;
  height: 100%;
  min-height: 640px;
  position: relative;
}

.badge {
  color: #fff;
}
.badge.badge-nguon {
  background-color: #a8b3bf
}
.text-nguon {
  color: #a8b3bf
}
.badge.badge-f0 {
  background-color: #ff5b5d
}
.text-f0 {
  color: #ff5b5d
}
.badge.badge-f1 {
  background-color: #ac64f4
}
.text-f1 {
  color: #ac64f4
}
.badge.badge-f2 {
  background-color: #f4a764
}
.text-f2 {
  color: #f4a764
}
.badge.badge-thap {
  background-color: #4fcfb9
}
.badge.badge-trungbinh {
  background-color: #357cbf
}
.badge.badge-cao {
  background-color: #3a547b
}